.container {
  margin-top: 12.5%;

  align-content: center
}

.row {
  margin-top: 12.5%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 35px 5px;
}

.col-4 {
  background-image: url('/assets/title-sidebar2.jpg');
  background-position-y: -100px;
  position: relative;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.col-8 {
  background: linear-gradient(to bottom right, #232323, #585858);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}