.input {
  background: none;
  border: none;
  border-bottom: 1px solid #5bc0de;
  margin-left: 50px;
  margin-right: 5px;
  outline: none;
  width: 220px;
  height: 40px;
  font-size: 18px;
  color: #fff;
}

.form {
  text-align: center;
  margin-top: 40px;
}